.tasktwo {
  &__para {
    width: 50%;
    margin: 0 auto;
    line-height: 1.7;
    @media only screen and (max-width: 767px) {
      width: 90%;
    }
  }
  &__embed {
    height: 200px;
    width: 200px;
    position: sticky;
    bottom: 0;
    margin-left: auto;
    iframe {
      border: none;
    }
  }
  &__title {
    margin: 1rem 0;
    letter-spacing: 1px;
    color: var(--neutral-600);
  }
  &__text {
    color: var(--neutral-700);
    letter-spacing: 0.8px;
  }
}
