@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box__container {
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 468px) {
    justify-content: center;
  }
}
.box__box {
  width: 10rem;
  height: 10rem;
  margin: 2rem 2rem 0 0;
  border: 2px solid var(--neutral-400);
  text-transform: capitalize;
  font-size: var(--header4);
  @include center;
}
