main {
  min-height: 95vh;
}
.homepage__container {
  display: flex;
  flex-wrap: wrap;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.homepage__box {
  width: 10rem;
  height: 10rem;
  margin: 2rem 2rem 0 0;
  border: 1px solid var(--neutral-400);
  display: flex;
  justify-content: center;
  align-items: center;
}
