@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  min-height: 95vh;
  display: flex;

  .sidenav {
    width: 20%;
    position: sticky;
    top: 5vh;
    background-color: var(--neutral-300);
    height: 95vh;
    .close {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid var(--neutral-400);
      right: -10px;
      top: 20px;
      cursor: pointer;
      border-radius: 50%;
      background: var(--neutral-200);
      @include center;
    }
  }
  .major {
    width: 80%;
  }
}
.homepage__container {
  display: flex;
  flex-wrap: wrap;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.homepage__box {
  width: 10rem;
  height: 10rem;
  margin: 2rem 2rem 0 0;
  border: 1px solid var(--neutral-400);
  @include center;
}
