@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  min-height: 95vh;
  display: flex;
  .sidenav {
    position: sticky;
    top: 5vh;
    background-color: var(--neutral-300);
    height: 95vh;
    .close {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid var(--neutral-400);
      right: -10px;
      top: 20px;
      cursor: pointer;
      border-radius: 50%;
      background: var(--neutral-200);
      @include center;
    }
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .major {
    padding: 0px 2rem;
  }
}
.homepage__container {
  display: flex;
  flex-wrap: wrap;
}
.homepage__box {
  width: 10rem;
  height: 10rem;
  margin: 2rem 2rem 0 0;
  border: 2px solid var(--neutral-400);
  text-transform: capitalize;
  font-size: var(--header4);
  @include center;
}

.homepage__input {
  background-color: var(--neutral-200);
  border: 1px solid var(--neutral-400);
  padding: 0.5rem 1rem;
  width: 20vw;
  margin: 1rem 0;
  letter-spacing: 1px;
  color: var(--neutral-500);
}
